<h1>List of posts</h1>

<table>
  <tbody>
    <% @post.each do |p| %>
      <tr>
        <td>Author: <% if user_signed_in? %><%= @user.find(p.user.id).name %> <% else %> Login to see <% end %> Title: <%= p.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>